extends layout

block content
  div.user-list
    h4 10 Online Buddies

    ul.js-user-ul

    div.search
      form
        div.field
          input(type='text', placeholder='Search').q
        div.setting
          i.fa.fa-gear
        div.hide.js-chat-toggle-sign
          i.fa.fa-sign-out
        div.show.js-chat-toggle-sign
          i.fa.fa-sign-in

  div.chat-boxes.clearfix.js-chat-boxes